<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container" id="app" >
        <div class="item title" >{{ title }}</div>
        <div class="item numbers" v-for="item in 8">
            <div class="inner-box">
                <div class="subtitle">{{ item + 1 }}</div>
                <div class="number" v-for="number in 9">{{ item+1 }} x {{ number }} = {{ (item+1)*number }}</div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>
